.demo{
    margin-top: 0;
    padding: 180px 0 200px 0;
  }

  .demo h1 {
    text-align: center;
  }

 

  .demo-code {
    background-color: black;
    padding: 40px;
    margin-right: 60rem;
    margin-top: 10px;
  }


